body {
    margin: 0;
    background-color: #413e3e;
}
input{
    width: 100vh;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    margin-right: 10px;
    border: none;
}
.MyButton{
  background-color: #353333; /* Green */
  color: white;
  padding: 12px 18px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
.input-box{
    display: flex;
    justify-content: center; /* horizontal center */
}
.opp-container{
    margin-top:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opp-text{
    align-items: center;
    font-size: 28px;
    color: rgb(205, 192, 192);
}
.Chat-container{
    padding: 50px 90px 0px;
    display: flex;
    height: 80vh;
    overflow-y: auto;
    /* background-color: rgb(91, 116, 116); */
}
.Question-text{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.658);
    padding: 10px 20px;
    background-color: rgb(99, 94, 94);
    border-radius: 35px;
    font-family: sans-serif;
    float: right;
    clear: both;
    margin-bottom: 10px;
}
.Answer-text{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.658);
    background-color: rgba(99, 94, 94, 0.218);
    padding: 10px 20px;
    border-radius: 35px;
    font-family: sans-serif;
    float: left;
    clear: both;
    margin-bottom: 20px;
}