<!DOCTYPE html>
<link rel="stylesheet" href="../App.css">
<html>
    <head>
        <title>Chat bot</title>
    </head>
    <body>
        <div>

            <div class="opp-container" id="opp-container">
                <p class="opp-text" id="opp-text"> What Can I Do For You ?</p>
            </div>
      
            <div class="Chat-container" id="Chat-container" style="display: none;">
            </div>
    
            <div class="input-box" id="container-input">
                <input class="text" placeholder="Ask anything.." id="MyInput">
                <button class ="MyButton" id="MyButton"> Enter </button>
            </div>
        </div>
    <script src="../App.js"> </script>
    </body>
</html>